.LoginEstilo {
    * {
        box-sizing: border-box;
        margin: 0px;
    }

    overflow-x: hidden;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
        height: 700px;

        .conteudoMain {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 50px;
            width: 100%;
            max-width: 1380px;
            height: 100%;
            max-height: 710px;
            background-color: black;
            padding: 50px;

            .imagem {

                width: 571px;
                height: 571px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .areaLogin {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    display: flex;
                    justify-content: center;
                    font-family: retroFont;
                    color: white;
                    font-size: 42px;
                    margin-bottom: 20px;
                }

                h2 {
                    display: flex;
                    justify-content: center;
                    font-family: retroFont;
                    font-size: 16px;
                    color: white;
                    margin-bottom: 20px;
                }

                img {

                    margin-bottom: 20px;
                }

                .loginTexto {}

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input[type="text"] {
                        align-self: flex-start;
                        width: 457px;
                        height: 45px;
                        border-radius: 20px;
                        font-size: 16px;
                        outline: none;
                        border: none;
                        padding: 20px;
                    }

                    input[type="submit"] {
                        width: 284px;
                        height: 45px;
                        border-radius: 20px;
                        font-family: retroFont;
                    }

                    label {
                        align-self: flex-start;
                        height: 18px;
                        margin-left: 30px;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        color: white;
                        font-family: retroFont;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    a {
                        align-self: flex-end;
                        margin-top: 5px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        color: white;
                        font-family: retroFont;
                        font-size: 8px;
                    }
                }

                .criarConta {
                    margin-top: 15px;

                    p {
                        color: white;
                        font-family: retroFont;
                        font-size: 8px;

                        a {
                            color: #5C92FB;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        main {
            .conteudoMain {
                .imagem {
                    display: none;
                }
            }
        }

        header {
            .faixa1 {

                .logoImg {
                    img {
                        margin-right: 20px;
                    }
                }

                .barraDePesquisa {
                    max-width: 500px;
                    max-height: 36px;
                    background-color: white;

                    input {
                        width: 90%;
                        height: 100%;
                        padding: 15px;
                        border: none;

                        &::placeholder {
                            font-family: "retroFont";
                        }

                        &:focus {
                            input {
                                outline: none;
                            }

                            select {
                                outline: none;
                            }
                        }
                    }

                    a {
                        position: absolute;
                        z-index: 1;

                        img {
                            display: flex;
                            align-items: center;
                            justify-self: center;
                            top: 8px;
                            left: 15px;
                            position: absolute;
                        }
                    }
                }

                .toolsUsuario {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    svg {
                        display: none;
                    }

                    .contato {
                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            img {
                                margin-left: 10px;
                                width: 30px;
                                height: auto;
                            }

                            h1 {
                                display: none;
                            }
                        }
                    }

                    .contaUsuario {
                        width: auto;

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            img {
                                margin-left: 10px;
                                width: 30px;
                                height: auto;
                            }

                            h1 {
                                display: none;
                            }
                        }
                    }

                    .carrinho {
                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            img {
                                margin-left: 10px;
                                width: 30px;
                                height: auto;
                            }

                            h1 {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .navegacaoCategoria {
                .maisCategorias {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-family: 'retroFont';

                        img {
                            height: 18px;
                            margin-right: 5px;
                        }
                    }
                }

                #categoria {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    height: 18px;

                    button {
                        img {}
                    }

                }

                .principal {
                    display: none;
                }
            }
        }
    }
}