.MenuEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 50px;

        .mainConteudo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: #E5E5E5;
            border-radius: 50px;
            padding: 50px;

            .titulo {
                margin-left: 10px;
                margin-bottom: 20px;

                h1 {
                    font-family: 'K2D Medium';
                }
            }

            .conteudo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                height: 100%;

                .dados {
                    max-width: 375px;

                    img {
                        border-radius: 20px;
                        margin-bottom: 20px;
                        height: 100%;
                        max-height: 375px;
                    }

                    .infosUser {
                        background-color: white;
                        border-radius: 20px;
                        padding: 20px;
                        width: 100%;
                        h3 {
                            margin-bottom: 5px;
                            font-family: 'K2D Extra bold';
                        }

                        p {
                            margin-bottom: 5px;
                            margin-left: 10px;
                            font-family: 'K2D Bold';
                        }
                    }
                }

                .opcos {
                    align-self: flex-start;
                    background-color: white;
                    padding: 20px;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;

                    h1 {
                        font-family: 'K2D Extra bold';
                    }

                    h2 {
                        margin-top: 20px;
                        margin-left: 10px;
                        font-family: 'K2D Bold';
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: 20px;
                        margin-left: 20px;
                        border: none;
                        background-color: transparent;
                        font-family: 'K2D Bold';

                        svg {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 390px) {
        main {
            padding: 20px;

            .mainConteudo {
                padding: 30px;
                height: 100%;
                .titulo {

                    h1 {}
                }

                .conteudo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .dados {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        img {
                            height: 100%;
                            max-height: 290px;
                        }

                        .infosUser {
                            
                            h3 {}

                            p {}
                        }
                    }

                    .opcos {

                        h1 {
                            font-size: 22px;
                        }

                        h2 {
                            font-size: 18px;
                            margin-left: 0px;
                        }

                        button {

                            svg {}
                        }
                    }
                }
            }
        }
    }
}