.estiloLinhaProduto {
    width: 100%;

    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: row;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-family: 'K2D Bold';
    text-align: center;
    padding: 10px;

    .primeiro {
        background-color: #fff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        img {
            margin-right: 10px;
        }
    }

    .final {
        background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    td {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        flex-direction: row;
        width: 100%;
        padding: 30px;
        height: 80px;

        button,
        a {
            border: none;
            background-color: transparent;
            cursor: pointer;

            svg {
                height: 30px;
            }

            text-decoration: none;
        }
    }
}