.ProdutoEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 50px;
        z-index: 1;

        .mainConteudo {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: #E5E5E5;
            border-radius: 50px;
            padding: 50px;

            .titulo {
                margin-left: 10px;
                margin-bottom: 20px;

                h1 {
                    font-family: 'K2D Medium';
                }
            }

            .buscaEcadastro {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .pesquisa {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: #fff;
                    width: 100%;
                    border-radius: 20px;

                    input[type=text] {
                        font-family: 'K2D Medium';
                        width: 94%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-radius: 20px;
                    }

                    img {
                        position: static;
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        margin-left: 15px;
                        margin-right: 20px;
                        cursor: pointer;
                    }

                }

                a {
                    width: 275px;
                    margin-left: 20px;
                    padding: 10px;
                    height: 60px;
                    background-color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    text-decoration: none;
                    font-family: 'K2D SemiBold';
                    border-radius: 20px;

                    svg {

                        height: 25px;
                        margin-right: 8px;
                    }
                }

            }

            .tabelaProduto {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'K2D Medium';
                overflow-y: auto;
                overflow-x: auto;
                width: 100%;

                P {
                    text-align: center;
                    margin: 50px;
                    font-family: 'K2D Bold';
                }

                table {
                    width: 100%;
                    border-radius: 5px;
                    border-collapse: separate;
                    border-spacing: 0 10px;
    
                    th {
                        font-size: 20px;
                        height: 40px;
                    }

                    .Conteudo {
                        width: 100%;
                        flex-direction: row;
                        background-color: #fff;
                        color: black;
                        font-size: 16px;
                        font-family: 'K2D Medium';
                        text-align: center;
                        padding: 30px;
                        height: 50px;

                        .primeiro {
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
    
                            img {
                                margin-right: 10px;
                            }
                        }
    
                        .final {
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }

                        td {

                            padding: 20px;
                            height: 50px;
                            font-size: 16px;

                            button,
                            a {
                                border: none;
                                background-color: transparent;
                                cursor: pointer;

                                svg {
                                    height: 30px;
                                }

                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    dialog {
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.8s;
        font-family: 'K2D Bold';
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: none;
        border-radius: 20px;
        max-width: 80%;
        max-height: 80%;
        min-width: 400px;
        font-size: 18px;
        text-align: center;
        z-index: 2;

        button {
            
            margin-top: 20px;
            background-color: black;
            border-radius: 20px;
            color: white;
            border: none;
            height: 40px;
            width: 100px;
            font-size: 14px;
            font-family: 'K2D Bold';
            cursor: pointer;
            
        }

        .sim{
            margin-right: 20px;
            &:hover{
                transition: 0.2s;
                background-color: #4ac204;
            }
        }
        .nao{
            &:hover{
                transition: 0.2s;
                background-color: red;
            }
        }

        &::backdrop {
            transition: 0.8s;
            background-color: rgb(0, 0, 0 / .5);
            opacity: 0.4;
        }
    }
    @media screen and (max-width: 390px) {
        main {
            
    
            .mainConteudo {
                
    
                .titulo {
                    
    
                    h1 {
                        
                    }
                }
    
                .buscaEcadastro {
                    
    
                    .pesquisa {
    
                        input[type=text] {
                            
                        }
    
                        img {
                            
                        }
    
                    }
    
                    a {
                        
    
                        svg {
    
                        }
                    }
    
                }
    
                .tabelaProduto {
    
                    P {
                
                    }
    
                    table {
                        
        
                        th {
                            
                        }
    
                        .Conteudo {
                            
    
                            .primeiro {
        
                                img {
                                    
                                }
                            }
        
                            .final {
                                
                            }
    
                            td {
    
                                button,
                                a {
    
                                    svg {
                                        
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}