.CadastroProdutoEstilo {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 50px;
        z-index: 1;

        .mainConteudo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            max-width: 900px;
            height: 100%;
            background-color: #E5E5E5;
            border-radius: 50px;
            padding: 50px;

            .voltar {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'K2D Extra Bold';

                    h1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    svg {
                        height: 32px;
                    }
                }
            }

            #titulo {
                font-family: 'K2D Bold';
                margin-left: 50px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .formulario {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 20px;

                    label {
                        align-self: flex-start;
                        font-family: 'k2D Bold';
                        margin: 10px;
                    }

                    input[type=text],
                    input[type=number] {
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;

                        outline: none;
                        border-radius: 20px;
                        height: 50px;
                        border: none;
                    }

                    input[type=submit] {
                        background-color: #000;
                        font-family: 'K2D Bold';
                        font-size: 18px;
                        color: white;
                        height: 50px;
                        border-radius: 20px;
                        width: 200px;
                    }

                    .imagemProd {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;

                        .image-item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 10px;

                            img {
                                
                                border-radius: 20px;
                                max-width: 60px;
                                max-height: 60px;

                            }

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                svg {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    display: none;
                                }

                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                max-width: 60px;
                                max-height: 60px;

                                color: #ffffff;
                                border: none;

                                cursor: pointer;
                            }

                            &:hover button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                svg {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition-duration: 1s;
                                }

                                background-color: red;
                                transition-duration: 1s;
                                opacity: 0.5;
                            }
                        }

                        #imageContainer {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                        }

                        input[type="file"] {
                            display: none;
                        }

                        .imageInput {
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 60px;
                                height: 60px;
                                border-radius: 20px;
                                background-color: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                svg {
                                    fill: #000;
                                }
                            }
                        }
                    }
                }
            }

            button {
                background-color: red;
                color: white;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
            }

            .variacao {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                background-color: #fff;
                padding: 10px;
                border-radius: 20px;
                margin-bottom: 30px;

                label {
                    margin-right: 10px;
                    color: #898989;
                }

                input[type="text"] {
                    border-radius: 10px;
                    width: 100px;
                    background-color: #D9D9D9;
                    height: 20px;
                }

                svg {
                    margin-right: 10px;
                    margin-left: 10px;
                    height: 30px;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                color: black;
                font-size: 16px;
                font-family: 'K2D Bold';
                margin-bottom: 20px;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}