.rodapeEstilo {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: 100%;
        min-height: 450px;

        .conteudoFooter {
            width: 100%;
            max-width: 1037px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 121px);
            grid-gap: 30px;
            height: 100%;
            color: white;
            font-family: 'K2D Bold';

            .conteudo1,
            .conteudo2,
            .conteudo3,
            .conteudo4,
            .conteudo5 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            h3 {
                margin-bottom: 10px;
            }

            button {
                font-size: 13px;
                font-family: 'K2D Light';
                background-color: transparent;
                border: none;
                color: white;
                text-align: left;
            }

            .conteudo3 {
                height: 212px;
            }
        }

        hr {
            width: 95%;
            margin-bottom: 20px;
        }

        .rodape {
            width: 90%;
            max-width: 1037px;
            height: 100%;
            max-height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            color: white;
            font-family: 'K2D', sans-serif;

            .logo {
                img {
                    width: 100%;
                }
            }

            .informacoesEmpre {
                p {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }

        @media screen and (max-width: 767px) {
            .conteudoFooter {
                align-items: center;
                justify-content: center;
                grid-template-columns: 250px 250px;
                grid-template-rows: 150px 150px 150px
            }
        }
        @media screen and (max-width: 390px) {
            .conteudoFooter {
                .conteudo1{
                    margin-top: 50px;
                }
                align-items: center;
                justify-content: center;
                grid-template-columns: 250px;
                grid-template-rows: 100px 100px 200px 100px 100px
            }

            .rodape {
                width: 90%;
                max-width: 1037px;
                height: 100%;
                max-height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                color: white;
                font-family: 'K2D', sans-serif;

                .logo {
                    img {
                        width: 100%;
                        max-width: 100px;
                    }
                }

                .informacoesEmpre {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}