.MenuAdmEstilo{
    * {
        margin: 0px;
        box-sizing: border-box;
    }
    
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        width: 100%;
        height: 100%;
        padding: 50px;
        
        .mainConteudo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 40px;
            width: 100%;
            height: 644px;
            height: 100%;
            background-color: #E5E5E5;
            border-radius: 50px;
            padding: 50px;
    
            .dados {
                width: 370px;
    
                img {
                    border-radius: 20px;
                    margin-bottom: 20px;
                    height: 370px;
                }
    
                .infosUser {
                    background-color: white;
                    border-radius: 20px;
                    padding: 20px;
                    h3{
                        margin-bottom: 5px;
                        font-family: 'K2D Extra bold';
                    }
                    p {
                        margin-bottom: 5px;
                        margin-left: 10px;
                        font-family: 'K2D Bold';
                    }
                }
            }
            .opcos{
                align-self: flex-start;
                background-color: white;
                padding: 20px;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                h1{
                    font-family: 'K2D Extra bold';
                }
                h2{
                    margin-top: 20px;
                    margin-left: 10px;
                    font-family: 'K2D Bold';
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 20px;
                    margin-left: 20px;
                    border: none;
                    background-color: transparent;
                    font-family: 'K2D Bold';
                    svg{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}