.cabecalho2Estilos {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: black;

        .faixa1 {
            height: 105px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .toolsUsuario {
                .logoImg {
                    width: 180px;
                    height: auto;

                    a {
                        img {
                            width: 180px;
                            height: auto;
                        }
                    }
                }

                .barraDePesquisa {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    height: 36px;
                    margin-right: 30px;
                    margin-left: 30px;
                    background-color: white;

                    input {
                        flex-grow: 1;
                        height: 100%;
                        padding: 15px;
                        border: none;
                        outline: none;
                        font-family: 'K2D Medium';

                        &::placeholder {
                            font-family: "retroFont";
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: none;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        img {
                            background-color: transparent;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-self: center;
                        }
                    }
                }

                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    margin-left: 10px;
                    margin-right: 10px;
                    height: 100%;
                    width: 100%;
                }

                .ferramentas {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .contato {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-decoration: none;
                            background-color: transparent;
                            border: none;

                            img {
                                width: 30px;
                                height: 30px;
                            }

                            h1 {
                                margin-left: 10px;
                                color: white;
                                text-decoration: none;
                                font-family: retroFont;
                                font-size: 12px;
                            }
                        }
                    }

                    .contaUsuario {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-decoration: none;

                            img {
                                width: 30px;
                                height: 30px;
                            }

                            h1 {
                                width: 108px;
                                margin-left: 10px;
                                color: white;
                                text-decoration: none;
                                font-family: retroFont;
                                font-size: 12px;
                            }
                        }
                    }

                    .carrinho {
                        button {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            background-color: transparent;
                            border: none;

                            img {
                                width: 30px;
                                height: 30px;
                            }

                            h1 {
                                color: white;
                                margin-left: 10px;
                                text-decoration: none;
                                font-family: retroFont;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .barraDePesquisaCelular {
                display: none;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;
                width: 100%;
                height: 36px;
                margin-right: 30px;
                margin-left: 30px;
                background-color: white;

                input {
                    flex-grow: 1;
                    height: 100%;
                    padding: 15px;
                    border: none;
                    outline: none;
                    font-family: 'K2D Medium';

                    &::placeholder {
                        font-family: "retroFont";
                    }

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border: none;
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;

                    img {
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-self: center;
                    }
                }
            }
        }
    }

    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 60px;
        background-color: #E5E5E5;
        z-index: 15;

        .navConteudo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;
            max-width: 800px;
            height: 100%;

            .barra {
                width: 2px;
                svg{
                    width: 2px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            .paginaInicial {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #898989;

                svg {
                    height: 30px;
                    fill: #898989;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    color: #898989;
                    font-family: 'K2D Medium';
                    font-size: 20px;
                }
            }

            .produto {
                color: #898989;

                svg {
                    height: 30px;
                    fill: #898989;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    color: #898989;
                    font-family: 'K2D Medium';
                    font-size: 20px;
                }
            }

            .gerenUsuario {
                a {
                svg {
                    height: 27px;
                    fill: #898989;
                }
                    text-decoration: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    color: #898989;
                    fill: #898989;
                    font-family: 'K2D Medium';
                    font-size: 20px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        header {
            height: 100%;
            min-height: 130px;
    
            .faixa1 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                width: 90%;
    
                svg {
                    
                }
    
                .toolsUsuario {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .logoImg {
                        width: 150px;
                        height: auto;
    
                        a {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
    
                    .barraDePesquisa {
                        display: none;
                    }
    
                    .contato {
                        button {
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
    
                    .contaUsuario {
                        a {
                            height: 30px;
                            width: 30px;
                            margin-right: 0px;
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
    
                    .carrinho {
                        button {
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
                }
    
                .barraDePesquisaCelular {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
    
            .navegacaoCategoria {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 90%;
    
                .maisCategorias {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 90%;
    
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        img {
                            height: 16px;
                            margin-right: 10px;
                        }
    
                        background-color: transparent;
                        border: none;
                        text-decoration: none;
                        color: white;
                        font-size: 12px;
                        font-family: retroFont;
                    }
                }
    
                .principal {
                    display: none;
                }
            }
        }
    }
    
    
    @media screen and (max-width: 390px) {
        header {
            height: 100%;
            min-height: 130px;
    
            .faixa1 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                width: 90%;
    
                svg {
                    display: none;
                }
    
                .toolsUsuario {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .logoImg {
                        width: 150px;
                        height: auto;
    
                        a {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
    
                    .barraDePesquisa {
                        display: none;
                    }
    
                    .contato {
                        button {
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
    
                    .contaUsuario {
                        a {
                            height: 30px;
                            width: 30px;
                            margin-right: 0px;
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
    
                    .carrinho {
                        button {
    
                            img {}
    
                            h1 {
                                display: none;
                            }
                        }
                    }
                }
    
                .barraDePesquisaCelular {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    
        nav {
    
            .navConteudo {
    
                svg {
                    
                }
    
                .paginaInicial {
                    
                    svg {
                        display: none;
                    }
    
                    a {
                        font-size: 14px;
                    }
                }
    
                .produto {
                    
    
                    svg {
                        display: none;
                    }
    
                    a {
                        font-size: 14px; 
                    }
                }
    
                .gerenUsuario {
                    a {
                        font-size: 14px;
                    svg {
                        display: none;
                    }
                        
                    }
                }
            }
        }
    }    
}

