.HomeEstilo {
    * {
        box-sizing: border-box;
        margin: 0px;
    }

    overflow-x: hidden;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        width: 100%;
        height: 100%;

        .conteudoMain {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            max-width: 1260px;
            height: 100%;

            .faixa1 {
                justify-self: flex-start;

                img {
                    position: relative;
                    margin: 20px;
                }
            }

            .produtosExibir {
                align-self: flex-start;
                justify-self: flex-start;
                height: 100%;
                max-width: 1260px;

                h2 {
                    display: flex;
                    align-self: center;
                    justify-self: flex-start;
                    font-size: 28px;
                    align-items: flex-start;
                    font-family: 'retroFont';
                }
            }
        }
    }
}